.blog-body {
    background-color: $ice;
}

// header styles
.blog-head {
    background-image: url(../assets/blog-header.jpg);
	background-size:cover;
	height:50vh;
}

// main styles
.special-wrapper {
    max-width: 1600px;
    margin:0 auto;
}
// Spoke to Jenny who advised use of special wrapper

.blog-content {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


// right-blog flex styles
.blog-right-flex {
    display:flex;
    flex-direction: column;
    max-width:60%;
    position:relative;
    z-index:30;
    bottom:150px;
    margin-bottom: -120px;
    .blog-main {
        flex: 0 0 60%;
    }
    .blog-main-words,
    form {
        padding:20px 60px 20px 20px;
    }
    .blog-main-words {
        margin-left: -15px;
        border-left: 5px $yellow solid;
        border-bottom: 5px $yellow solid;
    }
    input[type=email],
    input[type=name],
    textarea {
        background-color: $ice;
    }
    form {
        margin: 40px 0;

    }
}

// aside comments styles
.blog-comments {
    display:flex;
    flex-direction:column;
    padding:20px 60px 0px 0px;
    .post {
        display:flex;
    }
    .post-1 {
        margin-bottom:60px;
    }
    .avatar {
        flex: 0 0 120px;
        margin-right:40px;
    }
    .date {
        margin-bottom:20px;
    }
    p {
        margin:0; 
    }
}

// aside blog secondary styles (left side)
.blog-left-flex {
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    .blog-secondary-image {
        position: relative;
        right:120px;
        z-index:30;
    }
    .blog-secondary-words {
        background-color: $white;
        padding:350px 15px 15px;
        margin-left:30%;
        width:60%;
        position:relative;
        bottom:350px;
    }
    h5 {
        @include heading(1.2rem);
    }
    a {
        font-style: italic;
        font-weight: 600;
        &:hover {
            color: $green;       
        }
    }
    ul {
        list-style:none;
        li::before {
            content:"•";
            color:$green;
            padding-right:15px;
        }
        list-style-position: inside;
    }
}

// media queries 
@media (max-width:1024px) {
    .blog-content {
        flex-direction: column-reverse; 
    }
    .blog-left-flex {
        margin: 10px;
        display:flex;
        flex-direction: row;
        justify-content: space-around;

        .blog-secondary-image {
            position: static;
            left:0;
            z-index:30;
            flex: 1 0 30%;

            img {
                border:15px solid $yellow;
            }
        }
        .blog-secondary-words {
            background-color: $white;
            padding:15px;
            margin-left:0;
            position:static;
            flex: 2 0 55%;
        }
        h5 {
            margin:5px 0;
        }
    
    }
    .blog-right-flex {
        position:static;
        max-width:80%;
        padding:20px;
        margin: 0 auto;
        .blog-main-words,
        form {
            padding:15px;
        }
        form {
            border: 1px $green solid;
        }
    }
}

@media (max-width:768px) {
    .blog-right-flex {
        max-width:100%;
    }
}

@media (max-width:480px) {
    .blog-head {
        height:30vh;
    }
    .blog-left-flex {
        .blog-secondary-image {
            display:none;
        }
    }
    .blog-comments {
        padding:0;
        .avatar {
            margin-right:10px;
            flex: 0 1 350px;
        }
    }
}
