.blog-body {
    background-color: $ice;
}

// header styles
.blog-head {
    background-image: url(../assets/blog-header.jpg);
	background-size:contain;
	height:50vh;
}

// main styles
.blog-content {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


// right-blog flex styles
.blog-right-flex {
    display:flex;
    flex-direction: column;
    max-width:60%;
    position:relative;
    z-index:30;
    bottom:150px;
    margin-bottom: -120px;
    .shadow-left {
        position:relative;
        width:100%;
        // left:100px;
         
        // how to make fixed to right side?!

        img {
            overflow:hidden;
        }
    }

    .blog-main {
        flex: 0 0 60%;
    }
    .blog-main-words {
        padding:20px;
        margin-left: -15px;
        border-left: 5px $yellow solid;
        border-bottom: 5px $yellow solid;
    }
    input[type=email],
    input[type=name],
    textarea {
        background-color: $ice;
    }
    form {
        margin-top:40px;
    }
}

// aside comments styles
.blog-comments {
    display:flex;
    flex-direction:column;
    .post {
        display:flex;
    }
    .post1 {
        margin-bottom:60px;
    }
    .avatar {
        flex: 0 0 120px;
        margin-right:40px;
    }
    .date {
        margin-bottom:20px;
    }
    p {
        margin:0;
        
    }
    
}

// aside blog secondary styles (left side)
.blog-left-flex {
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    .blog-secondary-image {
        // max-width:90%;
        position: relative;
        right:95px;
        z-index:30;
        
        // flex: 0 0 25%;
    }
    .blog-secondary-words {
        background-color: $white;
        padding:350px 15px 15px;
        margin-left:30%;
        width:60%;
        position:relative;
        bottom:350px;
        
    }
    h5 {
        @include heading(1.2rem);
    }
    a {
        font-style: italic;
        font-weight: 600;
        &:hover {
            color: $green;       
        }
    }
    ul {
        list-style:none;
        li::before {
            content:"•";
            color:$green;
            padding-right:15px;
        }
        list-style-position: inside;

        // list-style-type: circle;
        // circles not showing?
    }
}

// media queries 
@media (max-width:1024px) {

}

@media (max-width:768px) {
    
}

@media (max-width:480px) {
    
}

@media (max-width:320px) {

}
