// header {
//     height:100vh;
// }


// header styles
.home-header {
    position:relative;
}

.home-heading {
    // @include heading(138px);
    @include heading(6.9rem);
    text-align: center;
    position: absolute;
    top: calc(50% - 6.9rem);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display:block;
    z-index:30;
}

.yellow-border {
    width:40%;
    padding:20px 0 20px 20px;
    background-color: $yellow;
    position:absolute;
    right:0;
    top:25%;
    z-index:25;
}

.header-bottom {
    padding:100px 160px;
    text-align: center;
    background-color: $ice;
    h2 {
        // position:absolute;
        position:relative;
        z-index:30;
    }
    p {
        text-align:left;
    }
}

// section services styles


.service-top,
.service-bottom {
    display:flex;
    justify-content: space-between;
    div {
    flex: 0 0 45%;
    }
    .service-words-2 {
        text-align: right;
        p {
            text-align: left;
        }
    }
    .shadow-right {
        position:relative;
        bottom:20px;
    }
    .shadow-left {
        position:relative;
        top:20px;
    }
    
}


// .services {
//     display:flex;
//     flex-wrap:wrap;
//     div {
//         flex:0 0 40%;
//     }

// }

// section go-to styles
.go-to {
    background-color: $ice;
}

.go-to-content {
    display:flex;
    flex-wrap:wrap;
    padding:50px 0;
    
    .go-to-quadrant {
        flex: 0 0 50%;
        display:flex;
        a {
            margin-right:15px;
        }
        
    }

    h3 {
        @include heading(32px);
        margin-top:0;
    }
    i {
        background: $green;
        height:40px;
        width:40px;
        text-align: center;
        padding:10px;
        border-radius:50%;
    }
}
// section monthly pro styles
.monthly-pro {
    background-color:$ice;
    .monthly-pro-content {
    display:flex;
    justify-content: space-between;
    padding:100px 0;
    }
    .monthly-pro-pic {
        flex:0 0 30%;
        // padding:

    }
    .monthly-pro-words {
        flex: 0 0 60%;
    }
}

// section gallery styles
.gallery {
    padding:80px 0;
    display:flex;
    justify-content: space-between;
    div {
        // margin:10px;
        display:flex;
        flex: 0 0 30%;
        
    }
}

// media queries
@media (max-width:1024px) {
    .home-heading {
        font-size: 6rem;
        // top: calc(50% - 3rem);
    }

    .header-bottom {
        h2 {
            font-size: 1.9rem;
        }
        p {
            text-align: center;
        }
    }

    .service-top,
    .service-bottom {
        border:$yellow 15px solid;
        img {
            box-shadow: none;
        }
        .service-words {
            text-align: center;
            padding:20px;
        }
    }

    .service-top {
        flex-direction:column;
        .shadow-right {
            bottom:0;
        }
    }

    .service-bottom {
        flex-direction:column-reverse;
        .shadow-left {
            top:0;
        }
        
    }

    .go-to-quadrant,
    .gallery div {
        padding:20px;
    }


    //     .shadow-right {
    //     position:relative;
    //     bottom:20px;
    // }
    // .shadow-left {
    //     position:relative;
    //     top:20px;
    // }
}

@media (max-width:768px) {
    .home-heading {
        // top: calc(50% - 6.9rem);
        top:20%;
        font-size:4rem;
    }

    .header-bottom {
        h2 {
            font-size: 1.5rem;
        }
    }

    .yellow-border {
        top:10%;
    }

    .header-bottom {
        padding: 30px;
    }

    .service-words h3 {
        font-size:1.3rem;
    }

    .go-to-content h3 {
        font-size: 1.1rem;
    }
    

    .monthly-pro {
        .monthly-pro-content {
            flex-direction: column;
            padding:40px;
            
        .monthly-pro-pic,
        .monthly-pro-words {
            width:85%;
            padding:20px;
            text-align: center;
            margin:0 auto;
            }            
        }
    }

    .gallery {
        padding:10px 0;
    }
}

@media (max-width:480px) {
    .home-heading {
        font-size: 3rem;
    }


    // .yellow-border {
    //     display:none;
    // }

    .go-to-content {
        flex-direction: column;
        padding:10px;
    }

    .monthly-pro {
        padding:10px 0;
        .monthly-pro-content {
            padding: 0;
        }
    }

    .gallery div {
        flex: 0 0 45%;
        &:nth-child(3) {
        display:none;
        justify-content: space-evenly; 
        }
    }
    
}

@media (max-width:320px) {
    .home-heading {
        border: 10px $yellow solid;
        background-color: $white;
        padding:10px;
        display:block;
    }

    .yellow-border {
        display:none;
    }

}
