fieldset {
    border:none;
}

input[type=name],
input[type=email] {
    border:0;
    border-bottom: 1px $green solid;
    height: 40px;
    width: 48%;
    padding:10px;
    margin-bottom:10px;
}

input[type=text] {
    border:1px $green solid;
    width:100%;
    margin:0;
    margin-bottom: 10px;

    padding:10px;
    height:200px;
}

button[type=submit] {
    @include heading(20px);
    text-align: center;
    // height:32px;
    letter-spacing: 1px;
    background-color: $green;
    border:none;
    min-width:320px;
    margin: 0 auto;
    padding:10px;
    // may change min-width
}

.personal-input {
    display:flex;
    justify-content: space-between;
}

