fieldset {
    border:none;
    
}
.contact-us-form {
    width:100%;
}
input[type=name],
input[type=email] {
    border:0;
    border-bottom: 1px $green solid;
    height: 40px;
    width: 48%;
    padding:10px;
    margin-bottom:10px;
}
textarea {
    width:100%;
    border:1px solid $green;
    margin:20px 0;
    resize:none;
    padding:10px;
}
button[type=submit] {
    @include heading(20px);
    text-align: center;
    // height:32px;
    letter-spacing: 1px;
    background-color: $green;
    border:none;
    min-width:220px;
    margin: 0 auto;
    padding:10px;
    width:100%;
}
.personal-input {
    display:flex;
    justify-content: space-between;
}

// media queries
@media (max-width:480px) {
    .personal-input {
        flex-direction: column;
    } 
    input[type=name],
    input[type=email] {
        width:100%;
        border:0;
        border:1px solid $green;
        margin:5px 0 0 0;
        padding:10px;
    }    
}

@media (max-width:320px) {
    button[type=submit] {
        @include heading(0.8rem);
    }
}


