// common styles across multiple pages
html {
    font-family: $robo;
    font-size:20px;
    color:$black;
    line-height:32px;
}

img {
    display:block;
    width:100%;
    max-width: 100%;
}

ul {
    margin:0;
    padding:0;
}

.wrapper {
    max-width:1200px;
    margin:0 auto;
}

.heading {
    // @include heading(80px);
    @include heading(4rem);
    text-align: center;
    position:absolute;
    left: 50%;
    top: 15vh;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display:block;
    z-index:40;
}

h2 {
    // @include heading(42px);
    @include heading(2.1rem);
}

h3 {
    // @include heading(32px);
    @include heading(1.6rem);
}

a {
    text-decoration: none;
    color: $black;
}

.button {
    // @include heading(20px);
    @include heading(1rem);
    padding:10px;
    background-color: $green;
    &:hover {
        background-color: darken($green,50);
        color:$yellow;
    }
}



.shadow-left {
    box-shadow: -15px 15px $yellow;

}

.shadow-right {
    box-shadow: 15px 15px $yellow;
}

footer {
    background: $black;
    text-align: center;
    p {
        margin:0;
    }
    // spoke to fatima and text should be white for blog and contact page
}

