// common styles across all pages
html {
    font-family: $robo;
    font-size:20px;
    color:$black;
    line-height:32px;
}

img {
    display:block;
    width:100%;
    max-width: 100%;
}

ul {
    margin:0;
    padding:0;
}

.wrapper {
    max-width:1000px;
    margin:0 auto;
}

.heading {
    @include heading(80px);
}

h2 {
    @include heading(42px);
}

h3 {
    @include heading(25px);
}

a {
    text-decoration: none;
    color: $black;
}

.button {
    @include heading(20px);
    padding:10px;
    background-color: $green;
}

.shadow-left {
    box-shadow: -15px 15px $yellow;

}

.shadow-right {
    box-shadow: 15px 15px $yellow;
}

footer {
    background: $black;
    text-align: center;
    p {
        margin:0;
    }
    .black-text {
        color:$black;
    }
}

