nav {
    position:absolute;
    top:0;
    right:40px;
    z-index:10;
    // NEED TO CONTAIN NAV IN WRAPPER
    ul {
        display:flex;
        flex-direction:row; 
        list-style: none;
        justify-content:flex-end;
        }
    li {
        @include heading(20px);
        padding:20px;
        text-align: center;
        line-height: 29px;
        letter-spacing: 1px; 
        }   
    a:hover {
            border-bottom: 3px solid $green;
        }    
}