nav {
    position:absolute;
    top:0;
    right:40px;
    z-index:10;
    // how to get nav responsive?
    
    // NEED TO CONTAIN NAV IN WRAPPER
    ul {
        display:flex;
        flex-direction:row; 
        list-style: none;
        // justify-content:flex-end;
        }
    li {
        @include heading(20px);
        padding:20px;
        text-align: center;
        line-height: 29px;
        letter-spacing: 1px; 
        }   
    a:hover {
            border-bottom: 3px solid $green;
        }    
}


@media (max-width:768px) {
    nav {
        position:fixed;
        display:block;
        z-index:50;
        right:0;
        left:0;
        background-color: darken($black, 10);
        
        
        ul {
            justify-content: center;
        }
        a {
            color: $white;
            font-family: $robo;
        }
    }
}

@media (max-width:480px) {
    nav ul li {
        font-size: 1rem;
        padding: 5px 10px;
    }
}

